<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
	   	http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd">
	<context:component-scan base-package="com.*">
		<context:exclude-filter expression="org.springframework.stereotype.Controller"
								type="annotation"/>
		<context:exclude-filter type="annotation"
								expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>
	<aop:aspectj-autoproxy/>
	<bean id="transactionManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager"/>
	<import resource="persistence3-db.xml"/>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mapperLocations" value="classpath*:config/mybatis/mappers/*Mapper.xml"/>
		<property name="configLocation" value="classpath:mybatis-config.xml"/>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.*"/>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
		<property name="markerInterface" value="com.mybatis.mapper.SqlMapper"/>
	</bean>
	<bean name="configuration" class="com.common.Configuration">
		<property name="smsUrl" value="http://106.ihuyi.com/webservice/sms.php?method=Submit"/>
		<property name="smsUsername" value="cf_aigolf"/>
		<property name="smsPassword" value="00fe77e5b5ced7090785cccddab7b2f9"/>
	</bean>

	<!-- smsinfo表单字段验证-->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:message"></property>
		<property name="defaultEncoding" value="utf-8"></property>
		<property name="cacheSeconds" value="120"></property>
	</bean>
</beans>
