<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contact.mapper.ContactMapper">
	<resultMap id="resultContact" type="com.contact.bean.Contact">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="number" property="number"/>
		<result column="linkMans" property="phone" typeHandler="com.contact.typeHandler.LinkMansHandler"></result>
		<result column="linkMans" property="mobile" typeHandler="com.contact.typeHandler.LinkMansHandler"></result>
	</resultMap>


	<select id="queryContactById" resultMap="resultContact">
		SELECT * FROM CI_CONTACT WHERE ID=#{id} AND TYPE=-10;
	</select>
	<select id="queryAll" resultMap="resultContact">
		SELECT * FROM CI_CONTACT WHERE TYPE=-10 limit #{pagination.from},#{pagination.pageSize}
	</select>
	<select id="queryContact" resultMap="resultContact">
		SELECT * FROM CI_CONTACT WHERE TYPE=-10 limit #{pagination.from},#{pagination.pageSize}
	</select>
	<select id="queryContactCount" resultType="int">
		SELECT count(*) FROM CI_CONTACT WHERE TYPE=-10
	</select>
</mapper>
