<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.mapper.OrderMapper">
	<resultMap id="orderMap" type="com.order.bean.Order" >
		<id column="id" property="id"/>
		<result column="buId" property="contactId"/>
		<result column="contact_name" property="contactName"/>
		<result column="linkMans" property="mobile" typeHandler="com.contact.typeHandler.MobileHandler"/>
		<result column="invId" property="goodsId"/>
		<result column="goods_name" property="goodsName"/>
		<result column="billDate" property="billDate"/>
		<result column="qty" property="quantity"/>
		<result column="price" property="price"/>
		<result column="deduction" property="deduction"/>
		<result column="amount" property="totalAmount"/>
	</resultMap>
	<select id="queryOrderByContactId" parameterType="int" resultMap="orderMap">
		SELECT cii.id,cii.buId,cc.name AS contact_name,cc.linkMans AS linkMans,cii.invId,cg.name AS goods_name,cii.billDate,cii.qty,cii.price,cii.deduction,cii.amount
		  FROM ci_invoice_info cii
			LEFT JOIN ci_contact cc ON cii.buId=cc.id
			LEFT JOIN ci_goods cg ON cii.invId=cg.id
		  WHERE cii.isDelete=0 AND cii.billType='SALE' AND cii.buId=#{contactId}
	</select>
	<select id="querySmsCount" resultType="int" parameterType="int">
		SELECT count(*) FROM ci_sms_info WHERE invoice_id=#{iid}
	</select>
</mapper>
