/*import
**************************************************************************************************************************************************/
@import '../core/scss/variable',
'../core/scss/commomExtend',
'../core/scss/commonMixin',
'../core/scss/components',
'../core/scss/part',
'../core/scss/reset',
'../core/scss/generalStyle';


@include header;

/* style
*****************************/
form {
  width: 996px;
  margin: 0 auto 20px;

  @include detail-general;
}


td {
  font-size: 14px;
  color: #666;
}

.user-info {
  float: left;
}

.product-info {
  float: left;
}

.handle-box {
  padding-top: 20px;
  clear: both;
}

.handle-btn-box {
  margin-right: 100px;
  border-top: 1px dotted #ccc;
  padding: 20px 100px 0 0;
  text-align: right;
}

.delete-btn,
.invest-submit {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 40px;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  background: $main;

  &:hover {
    background: $main-dark;
  }
}

//.invest-submit {
//  height: 36px;
//  margin-top: 8px;
//  border: none;
//  cursor: pointer;
//}

.list-sure{
  @include pop;
}