/*import
**************************************************************************************************************************************************/
@import '../core/scss/variable',
'../core/scss/commomExtend',
'../core/scss/commonMixin',
'../core/scss/components',
'../core/scss/part',
'../core/scss/reset',
'../core/scss/generalStyle';

@include header;
/* style
*****************************/

.content-name {
  width: 1200px;
  height: 125px;
  margin: 20px auto 40px auto;
  background: #edf5fa;

  img {
    margin: 25px 0 0 80px;
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50px;
  }
}

.content-name-in {
  margin-left: 150px;
  padding-left: 30px;
  line-height: 125px;
  height: 125px;
  float: left;
  color: #999;
  background: url("../core/image/name.png") no-repeat 0 center;

  span {
    color: #666;
  }
}

.content-name-phone,
.content-name-category,
.content-name-level,
.content-name-number {
  margin-left: 40px;
  padding-left: 30px;
  line-height: 125px;
  height: 125px;
  float: left;
  color: #999;
  background:  no-repeat 0 center;

  span {
    color: #666;
  }
}

.content-name-phone {
  background-image: url("../core/image/phone.png");
  //width: 180px;
}

.content-name-category {
  background-image: url("../core/image/category.png");
  //width: 150px;
}

.content-name-level {
  background-image: url("../core/image/level.png");
  //width: 120px;
}

.content-name-number {
  background-image: url("../core/image/id.png");
  //width: 150px;
}

.content-list-menu {
  width: 1200px;
  margin: 0 auto;

  tr {
    height: 60px;
  }

  td {
    width: 10%;
    text-align: center;
  }

  .list-title {
    font-size: 19px;
    .list-first {
      width: 40%;
    }

  }


}

.content-list{
  @include list-general;

  .list-red{

    span{
      color: red;
    }
  }
}
.list-time{
  width: 20%;
}


.last-btn{
  width: 1200px;
  height: 40px;
  margin: 50px auto;

  a{
    float: right;
    margin-left: 50px;
    width: 120px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    background:#81bbe1 ;
  }
}

.pager-box {
  margin: 0 auto;
  width: 1200px;
}

