/*import
**************************************************************************************************************************************************/
.mes-none a {
  float: left;
  margin-left: 30px;
  width: 60px;
  display: block;
  padding: 10px;
  background: green;
  color: white; }

.mes-none span {
  margin-top: 10px;
  float: left;
  color: red; }

.mes-none a {
  float: left;
  margin-left: 30px;
  width: 60px;
  display: block;
  padding: 10px;
  background: green;
  color: white; }

.mes-none span {
  margin-top: 10px;
  float: left;
  color: red; }

/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

:focus {
  outline: 1px; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-family: 'Microsoft Yahei','\5FAE\8F6F\96C5\9ED1',Arial,'Hiragino Sans GB','\5B8B\4F53', serif; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none; }

.link-btn {
  color: #45a5e3; }
  .link-btn:hover {
    text-decoration: underline; }

.hide {
  display: none !important; }

.show {
  display: block; }

.show-inline {
  display: inline; }

.back {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 40px;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  background: #f59a99; }
  .back:hover {
    background: #fb6666; }

.header {
  width: 100%;
  height: 60px;
  background: #81bbe1; }
  .header .header-content {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    line-height: 60px; }
    .header .header-content h1 {
      float: left;
      padding-left: 35px;
      height: 60px;
      font-size: 19px;
      color: white;
      background: url("../core/image/gear.png") no-repeat 10px 19px; }
    .header .header-content .header-handle {
      float: right;
      height: 60px; }
      .header .header-content .header-handle a {
        color: white;
        font-size: 14px; }
        .header .header-content .header-handle a:hover {
          text-decoration: underline; }
    .header .header-content .header-handle-item {
      margin-right: 10px; }

/* style
*****************************/
.content-name {
  width: 1200px;
  height: 125px;
  margin: 20px auto 40px auto;
  background: #edf5fa; }
  .content-name img {
    margin: 25px 0 0 80px;
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50px; }

.content-name-in {
  margin-left: 100px;
  padding-left: 30px;
  line-height: 125px;
  height: 125px;
  float: left;
  color: #999;
  background: url("../core/image/name.png") no-repeat 0 center; }
  .content-name-in span {
    color: #666; }

.content-name-phone {
  margin-left: 50px;
  padding-left: 30px;
  line-height: 125px;
  height: 125px;
  float: left;
  color: #999;
  background: url("../core/image/phone.png") no-repeat 0 center; }
  .content-name-phone span {
    color: #666; }

.content-list-menu {
  width: 1200px;
  margin: 0 auto; }
  .content-list-menu tr {
    height: 60px; }
  .content-list-menu td {
    width: 10%;
    text-align: center; }
  .content-list-menu .list-title {
    font-size: 19px; }
    .content-list-menu .list-title .list-first {
      width: 40%; }

.content-list {
  width: 1200px;
  margin: 0 auto;
  table-layout: fixed;
  font-size: 14px; }
  .content-list td {
    text-align: center; }
  .content-list .list-title td {
    line-height: 60px;
    height: 60px;
    color: white;
    background: #45a5e3; }
  .content-list .list-bottom td,
  .content-list .list-top td {
    padding: 12px 0;
    line-height: 25px;
    color: #333;
    background: #f3f3f3; }
  .content-list .list-bottom .list-delete,
  .content-list .list-top .list-delete {
    padding: 3px;
    height: 20px;
    width: 10px;
    color: #81bbe1;
    font-size: 14px; }
    .content-list .list-bottom .list-delete:hover,
    .content-list .list-top .list-delete:hover {
      color: red; }
  .content-list .list-bottom td {
    background: #e2ecf3; }
  .content-list .list-none {
    margin-top: 100px;
    width: 1200px;
    height: 200px;
    text-align: center;
    line-height: 250px;
    color: #666;
    background: url("../core/image/list-none.png") no-repeat 300px center; }
  .content-list .sort-up {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url("../core/image/up.png"); }
    .content-list .sort-up.sort-choose {
      background: url("../core/image/up-now.png"); }
  .content-list .sort-down {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url("../core/image/down.png"); }
    .content-list .sort-down.sort-choose {
      background: url("../core/image/down-now.png"); }
  .content-list .list-red span {
    color: red; }

.list-time {
  width: 20%; }

.last-btn {
  width: 1200px;
  height: 40px;
  margin: 50px auto; }
  .last-btn a {
    float: right;
    margin-left: 50px;
    width: 120px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    background: #81bbe1; }
