/*import
**************************************************************************************************************************************************/
@import '../core/scss/variable',
'../core/scss/commomExtend',
'../core/scss/commonMixin',
'../core/scss/components',
'../core/scss/part',
'../core/scss/reset',
'../core/scss/generalStyle';


@include header;
/* style
*****************************/
form {
  width: 1200px;
  margin: 45px auto;
  table-layout: fixed;

}

.content-table{
  margin-top: 30px;
  margin-left: 100px;

  tr {
    height: 75px;
  }
}

h2{
  margin-top: 80px;
  padding-left: 50px;
  font-size: 20px;
  color: #333;
  font-weight: normal;
}



th {
  vertical-align: middle;
  padding-right: 25px;
  width: 123px;
  text-align: right;
  font-size: 16px;
  font-weight: normal;
  color: #666;

  span {
  }
}

td {
  vertical-align: middle;
  width: 350px;
}

.wrong-text {
  width: 500px;
  color: #fb6666;
}

input{
  width: 300px;
  height: 32px;
  font-size: 14px;
  padding: 5px;
  border: 1px solid #ccc;

  &:focus{
    border: 1px solid #81bbe1;
  }
}

.choose-message {
  border: 1px solid #ccc;
  width: 310px;
  height: 38px;
  padding: 5px;
  font-size: 14px;
  background: white;
}

textarea{
  width: 300px;
  border: 1px solid #ccc;
  resize : none;

  &[disabled] {
    background: #f6f6f6;
  }
}

.invest-wrong{
  border: 1px solid #f59a99;
}

.invest-submit {
  @include wh(158px, 36px);
  font-size: 18px;
  border: none;
  background: #81bbe1;
  color: white;
  cursor: pointer;
}
