/*import
**************************************************************************************************************************************************/
@import '../core/scss/variable',
'../core/scss/commomExtend',
'../core/scss/commonMixin',
'../core/scss/components',
'../core/scss/part',
'../core/scss/reset',
'../core/scss/generalStyle';


@include header;

/* style
*****************************/
form {
  width: 1200px;
  margin: 45px auto;
  table-layout: fixed;
}

.content-table {
  @include detail-general;


  .invest-submit {
    margin-top: -2px;
    @include wh(196px, 36px);
    font-size: 17px;
    border: none;
    background: $main;
    color: white;
    cursor: pointer;

    &:hover {
      background: $main-dark;
    }
  }
}

.user-info-box {
  border-top: 1px dotted #ccc;
  margin-top: 30px;
  padding-top: 25px;
  width: 800px;
}

.content-table{
  margin-top: 30px;
  margin-left: 100px;
}

.choose-message {
  border: 1px solid #ccc;
  width: 312px;
  height: 36px;
  padding: 5px;
  font-size: 14px;
  background: white;
}

.textarea-tips {
  font-size: 14px;
  color: #666;
}


