/*import
**************************************************************************************************************************************************/
@import '../core/scss/variable',
'../core/scss/commomExtend',
'../core/scss/commonMixin',
'../core/scss/components',
'../core/scss/part',
'../core/scss/reset',
'../core/scss/generalStyle';

@include header;

/*style
**************************************************/

.content{
  width: 1200px;
  height: 800px;
  margin: 50px auto;
}

.content-searchBox{
  width: 660px;
  margin: 40px auto;
}

.content-search{
  float: left;
  border: 1px solid #d0e4f2;
  width: 600px;
  height: 40px;
  padding: 5px 10px;

}

.content-search-btn{
  border: none;
  width: 60px;
  height: 40px;
  background:#d0e4f2 url("../core/image/search.png") no-repeat center center;
}

.content-list{
  width: 1200px;
  margin:  0 auto;


  td{
    width: 200px;
    text-align: center;
  }

  .list-title{

    td{
      line-height: 60px;
      height: 60px;
      color: white;
      background: #45a5e3;
    }
  }

  .list-bottom,
  .list-top{

    td{
      height: 50px;
      line-height: 50px;
      color: #333;
      background: #f3f3f3;
    }

    .list-modify,
    .list-delete{
      padding: 3px;
      height: 20px;
      width: 10px;
      color:#81bbe1 ;
      font-size: 14px;

      &:hover{
        color: red;
      }
    }

  }

  .list-bottom{
    td{
      background:#e2ecf3 ;
    }
  }
}

.list-sure{
  position: fixed;
  top:50%;
  left: 50%;
  width: 300px;
  height: 180px;
  margin-top: -100px;
  margin-left: -150px;
  border: 1px solid #ccc;
  border-radius: 5px ;
  background: white;


  .list-sure-title{
    border-radius: 5px ;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 30px;
    background:#81bbe1;
  }

  .list-sure-content{
    margin:  0 auto;
    width: 250px;
    padding: 30px 0;
    text-align: center;
    border-bottom: 1px solid #e5e5e5 ;
    color: #333;
  }

  .list-sure-btn{

    a{
      margin-top: 30px;
      margin-left: 80px;
      padding-right: 40px;
      float: left;
      color: #333;
    }

    .list-sure-btn1{
      border-right:1px solid #e5e5e5 ;
    }
    .list-sure-btn2{
      margin-left: 40px;
    }
  }
}

.list-page{
  margin-top: 50px;
  float: right;

  td{
    padding: 0 10px;

    a{
      color: #333;
    }
  }
}

.list-none{
  margin-top: 100px;
  width: 1200px;
  height: 200px;
  text-align: center;
  line-height: 250px;
  color: #666;
  background: url("../core/image/list-none.png") no-repeat 300px center;
}

.list-template-content {
  padding-bottom: 20px;
  text-align: left !important;
  font-size: 14px;
  line-height: 1.2 !important;
}



