/*import
**************************************************************************************************************************************************/
@import '../core/scss/variable',
'../core/scss/commomExtend',
'../core/scss/commonMixin',
'../core/scss/components',
'../core/scss/part',
'../core/scss/reset',
'../core/scss/generalStyle';

@include header;

/*style
**************************************************/

.content{
  width: 1200px;
  height: 800px;
  margin: 50px auto;
}

.add-template {
  display: inline-block;
  margin-bottom: 20px;
  width: 100px;
  height: 40px;
  padding-left: 50px;
  line-height: 40px;
  color: white;
  background: #45a5e3 url("../core/image/add.png") no-repeat 22px 11px;
}

.content-list{
  @include list-general;
}

.list-sure{
  @include pop;
}

.list-none{
  margin-top: 100px;
  width: 1200px;
  height: 200px;
  text-align: center;
  line-height: 250px;
  color: #666;
  background: url("../core/image/list-none.png") no-repeat 300px center;
}

.list-template-content {
  padding-bottom: 20px;
  text-align: left !important;
  font-size: 14px;
  line-height: 1.2 !important;
}


.list-page{
  @include pager;
}


