/*import
**************************************************************************************************************************************************/
@import '../core/scss/variable',
'../core/scss/commomExtend',
'../core/scss/commonMixin',
'../core/scss/components',
'../core/scss/part',
'../core/scss/reset',
'../core/scss/generalStyle';

@include header;
@include content-head;


/*style
**************************************************/

.content{
  width: 1200px;
  height: 800px;
  margin: 0 auto;
}


.content-list{
  @include list-general;
}

.list-sure{
  @include pop;
}

.list-page{
  @include pager;
}





