/*import
**************************************************************************************************************************************************/
@import '../core/scss/variable',
'../core/scss/commomExtend',
'../core/scss/commonMixin',
'../core/scss/components',
'../core/scss/part',
'../core/scss/reset',
'../core/scss/generalStyle';

@include header;



/*style
**************************************************/

.content{
  width: 1200px;
  height: 800px;
  margin: 0 auto;
}

.content-head {
  margin: 40px auto;
  overflow: hidden;
}

.home-btn-box {
  float: left;
}

.home-btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 40px;
  color: white;
  background: #45a5e3;
}

.content-searchBox{
  margin-left: 300px;
  width: 660px;
}

.content-search{
  float: left;
  border: 1px solid #d0e4f2;
  width: 600px;
  height: 40px;
  padding: 5px 10px;

  &:focus {
    border-color: $main;
  }
}

.content-search-btn{
  border: none;
  width: 60px;
  height: 40px;
  background: $main url("../core/image/search.png") no-repeat center center;

  &:hover {
    background-color: $main-dark;
    cursor: pointer;
  }
}

.content-list{
  @include list-general;
}

.list-sure{
  @include pop;
}

.list-page{
  @include pager;
}





